.blog{
    padding: 20px 20px;
    margin-top: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;;
}
.description{
    font-style: normal;
    font-weight: 600;
}